@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fefefe;
}

::-webkit-scrollbar-thumb {
  background: #007cc3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005a8e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #007cc3 #fefefe;
}
